body{
    margin:0;
    padding: 0;
    font-family: Arial, sans-serif;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background:black;
    padding:1rem;
}
.logo{
    color:aliceblue;
    font-size: 1.5rem;
}
.menu{
    display:none;
    flex-direction: column;
    background:gray;
    position: absolute;
    top: 60px;
    right: 20px;
    width: 200px;
}
.menu a{
    color:#fff;
    text-decoration:none;
    display:block;
    padding:1em;
}
.hamburger{
    font-size:2rem;
    color:#fff;
    cursor:pointer;
}
@media(min-width: 768px){
    .menu{
        display:flex;
        flex-direction: row;
        position:static;
        background: none;
        width:auto
    }
    .hamburger{
        display:none;
    }
    .navbar{
        display:none;
    }
}